<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=H, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/lightbox.css">
    <title>History</title>
</head>

<body>

    <ul class="menu1">
        <li><a style="margin:0px;" href="/Home/Index"><img width="30px" height="30px" src="~/Content/img/logo.png" alt=""></a></li>
        <li><a href="/Home/Cappadocia" class="">Cappadocia</a></li>
        <li><a href="/Home/History" class="">History</a></li>
        <li><a href="/Home/TouristAttraction" class="">Tourist Attraction</a></li>
        <li><a href="https://www.evisa.gov.tr/en/" class="">Apply for e-Visa</a></li>
        <li><a href="/Home/ContactUs" class="">Contact Us</a></li>
    </ul>
    <h1>Cappadocia Gallery</h1>
    <div class="nazmi2">
       
        <a href="~/Content/img/picture1.jpeg" data-lightbox="roadtrip"><img src="~/Content/img/picture1small.jpg"></a>

        <a href="~/Content/img/picture3.jpeg" data-lightbox="roadtrip"><img src="~/Content/img/picture3small.jpg"></a>

        <a href="~/Content/img/picture4.jpeg" data-lightbox="roadtrip"><img src="~/Content/img/picture4small.jpg"></a>

        <a href="~/Content/img/35.jpg" data-lightbox="roadtrip"><img src="~/Content/img/35.jpg"></a>
        
        <a href="~/Content/img/51.jpg" data-lightbox="roadtrip"><img src="~/Content/img/51.jpg"></a>

        <a href="~/Content/img/Göreme.jpg" data-lightbox="roadtrip"><img src="~/Content/img/Göreme.jpg"></a>

        <a href="~/Content/img/HorseRiding.jpg" data-lightbox="roadtrip"><img src="~/Content/img/HorseRiding.jpg"></a>

        <a href="~/Content/img/71.jpg" data-lightbox="roadtrip"><img src="~/Content/img/71.jpg"></a>

        <a href="~/Content/img/pexels-photo-2563680.jpeg" data-lightbox="roadtrip"><img src="~/Content/img/pexels-photo-2563680.jpeg"></a>

        <a href="~/Content/img/people-sitting-on-rooftop-during-sunset-3889742.jpg" data-lightbox="roadtrip"><img src="~/Content/img/people-sitting-on-rooftop-during-sunset-3889742.jpg"></a>

        <a href="~/Content/img/pexels-photo-3889727.jpg" data-lightbox="roadtrip"><img src="~/Content/img/pexels-photo-3889727.jpg"></a>

        <a href="~/Content/img/pexels-photo-3889740.jpg" data-lightbox="roadtrip"><img src="~/Content/img/pexels-photo-3889740.jpg"></a>

        <a href="~/Content/img/pexels-photo-3889729.jpg" data-lightbox="roadtrip"><img src="~/Content/img/pexels-photo-3889729.jpg"></a>

        <a href="~/Content/img/IhlaraTal.jpg" data-lightbox="roadtrip"><img src="~/Content/img/IhlaraTal.jpg"></a>

        <a href="~/Content/img/photo-1526048598645-62b31f82b8f5.jfif" data-lightbox="roadtrip"><img src="~/Content/img/photo-1526048598645-62b31f82b8f5.jfif"></a>

        <a href="~/Content/img/tony-lee-nZlaCQlYAnA-unsplash.jpg" data-lightbox="roadtrip"><img src="~/Content/img/tony-lee-nZlaCQlYAnA-unsplash.jpg"></a>

        <a href="~/Content/img/Turkey-Cappadocia-Hotels-Balloon-View-5.jpg" data-lightbox="roadtrip"><img src="~/Content/img/Turkey-Cappadocia-Hotels-Balloon-View-5.jpg"></a>

        <a href="~/Content/img/Uçhisar,_Cappadocia_07.jpg" data-lightbox="roadtrip"><img src="~/Content/img/Uçhisar,_Cappadocia_07.jpg"></a>

        <a href="~/Content/img/Cappadocia-Hot-Air-Balloon-1.jpg" data-lightbox="roadtrip"><img src="~/Content/img/Cappadocia-Hot-Air-Balloon-1.jpg"></a>

        <a href="~/Content/img/pexels-photo-2563597.jpeg" data-lightbox="roadtrip"><img src="~/Content/img/pexels-photo-2563597.jpeg"></a>

        <a href="~/Content/img/Cappadocia_-_Kapadokya_05.jpg" data-lightbox="roadtrip"><img src="~/Content/img/Cappadocia_-_Kapadokya_05.jpg"></a>

        <a href="~/Content/img/1024x678.jpg" data-lightbox="roadtrip"><img src="~/Content/img/1024x678.jpg"></a>

        <a href="~/Content/img/Cappadocia-Hot-Air-Balloon-1.jpg" data-lightbox="roadtrip"><img src="~/Content/img/Cappadocia-Hot-Air-Balloon-1.jpg"></a>

        <a href="~/Content/img/1024x768-wallpaper_1024x678.jpg" data-lightbox="roadtrip"><img src="~/Content/img/1024x768-wallpaper_1024x678.jpg"></a>



    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="~/Content/js/lightbox.js"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>


</body>

</html>