@model IEnumerable<_1920543nazmi.Models.CappadociaContent>


@foreach (var item in Model)
{
    <section>
        <h2>@item.ContTitle1</h2>
        @*<p class="font_1">Tourist Information</p>*@
        <p class="font_1">@item.ContDetail1</p>



    </section>
            }


