<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=H, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/tourist.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>History</title>
</head>

<body>

    <ul class="menu1">
        <li><a style="margin:0px;" href="/Home/Index"><img width="30px" height="30px" src="~/Content/img/logo.png" alt=""></a></li>
        <li><a href="/Home/Cappadocia" class="">Cappadocia</a></li>
        <li><a href="/Home/History" class="">History</a></li>
        <li><a href="/Home/TouristAttraction" class="">Tourist Attraction</a></li>
        <li><a href="https://www.evisa.gov.tr/en/" class="">Apply for e-Visa</a></li>
        <li><a href="/Home/ContactUs" class="">Contact Us</a></li>
    </ul>

    <img src="~/Content/img/picture6.jpeg">

    <div class="icon-bar">

    

        <a href="/Home/Airport">
            <i class="fas fa-suitcase-rolling"></i>
            <p class="text_1">Airport Transfer</p>
        </a>
        <a href="/Home/RentACar">
            <i class="fas fa-car-side"></i>
            <p class="text_1">Rent a Car</p>
        </a>

        <a href="/Home/Hotel">
            <i class="fas fa-hotel"></i>
            <p class="text_1">Hotels</p>
        </a>

    </div>

    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:50px">

        <!-- First Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
            <div class="w3-quarter">
                <img src="~/Content/img/cappadocia-horseback-riding.jpg" alt="horseback" style="width:100%">
                <h3>Horse Riding</h3>
                <p>Cappadocia is derived from the ancient Hittite word ‘Katpatuka’, which means “land of beautiful horses”. Clay tablet scriptures dating back to 1460 BC depict the area’s devotion to expert horse breeding.</p>
            </div>
            <div class="w3-quarter">
                <img src="~/Content/img/cappadocia-holiday-underground-city.jpg" alt="Underground" style="width:100%">
                <h3>Underground City Tours</h3>
                <p>
                    Believed to have housed up to 10,000 people each, they were used by the first inhabitants of Cappadocia to escape the harsh winter and wild animals. Later, they became the place of hiding of the first Christians who escaped persecution at the hands of Roman soldiers.

                    .
                </p>
            </div>
            <div class="w3-quarter">
                <img src="~/Content/img/GoremeOpenAirTheater.jpg" alt="GoremeOpenAirTheater" style="width:100%">
                <h3>Visit Goreme Open Air Museum</h3>
                <p>
                    Discover the famous fairy chimney rock formation in Goreme Open Air Museum, explore Devrent Valley, Pasabag
                    and more on this Cappadocia one day tour and witness the unique landscape of Capaddocia.
                </p>

            </div>
            <div class="w3-quarter">
                <img src="~/Content/img/cappadocia-holiday-cave-hotel.jpg" alt="Stay in a Cave Hotel" style="width:100%">
                <h3>Stay in a Cave Hotel</h3>
                <p>Ever wonder how the locals of Cappadocia lived in caves for thousands of years? The many cave hotels give you the opportunity to experience troglodyte lifestyle in luxury. Unlike the hardships faced by the locals then, these boutique hotels come complete with amenities such as Hamams (Turkish baths), fast speed Internet and modern bathrooms.</p>
            </div>
        </div>

        <div class="w3-container w3-padding-32 w3-center">
            <h3>Cappadocia Quad Sunset Tour</h3><br>
            <img src="~/Content/img/quadtour.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
            <div class="w3-padding-32">
                <h4><b></b></h4>
                <h6><i>With Passion For Real, Go</i></h6>
                <p>
                    Cappadocia Atv trip, excurcions are an exciting, fun and enother way to see Cappadocia. Unique and
                    Spectacular Valleys of Cappadocia giving us an opportunity to experience one of the best Quad Safari of the
                    World.

                    Even if you don’t know how to drive a car and withhout having a driver license. İt’s a sport suitable for
                    everybody and it’s very entertaining.

                    Cappadocia Tour, After having a brief lesson about how to ride an Cappadocia Atv Quad tour and having a small
                    meters of training, you will be able to gain the knowledge of riding Quads.

                    Atv tour Excursions are tours in which you have adventurous and exciting moments with your family. Avoiding
                    all the stres and away from the urban life.

                <p>
                    We make sure that every excursion is memorable for all participants. We don’t mix the excursion groups so
                    each tour that we depart from our hotel. You can experience Cappadocia’s tranquillity and beauty with your
                    group through the help of our guides.
                </p>

                <p>
                    By not combinig tour groups you have the freedom to choose. And where you stop to take photos, how fast
                    you go and how often you have breaks.

                    While you will explore Sword, Rose and Love Valley, and experience an off-road adventure at Cavusin Old
                    Greek Village, you will see Cappadocia from a different perspective by viewing dunes and trails of the
                    extraordinary Cappadocia landscape from the ground level..
                </p>
            </div>

</body>

</html>