


.img1 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;

}

.img2 {
    float: right;
    padding-right: 10px;
    padding-right: 10px;

}

.ccc {
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

h1 {
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #aaa;

}

.zoom:hover {
    transform: scale(1.02);
}